<h1><%= @contact.first_name %> <%= @contact.last_name%></h1>
<div class="main">
  <p>Email: <%= @contact.email %></p>
  <p>Note: <%= @contact.note%></p>

  <a href="/contacts/<%= @contact.id %>/edit">Edit Contact</a>


<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete Contact" value="Delete Contact">
 </form>
</div>